@import url('https://fonts.googleapis.com/css2?family= Edu+NSW+ACT+Foundation & display =swap');
@import url(styles/header.css);
@import url(styles/poscabecalho.css);
@import url(styles/beneficios.css);

:root {
    --fonte-textos:'Edu NSW ACT Foundation', cursive;
    --cor-vermelho: #db0000;
    --cor-amarelo: #ffee00;
    --cor-fundo: #f5f4f4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-textos);
}