@import url('https://fonts.googleapis.com/css2?family= Edu+NSW+ACT+Foundation & display =swap');

:root {
    --fonte-textos:'Edu NSW ACT Foundation', cursive;
    --cor-vermelho: #db0000;
    --cor-amarelo: #ffee00;
}

* {
    margin: 0;
    padding: 0;
}

.cabeçalho {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 2rem 4rem;
    align-items: center;
}

.logo {
    width: 10rem;
}

.listaMenu {
    text-align: center;
}

.menuItem {
    text-decoration: none;
    margin: 0 4rem;
    font-family:var(--fonte-textos);
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--cor-vermelho);
}

.botao {
    align-items: center;
    text-align: center;
}

.matricula {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: var(--fonte-textos);
    border: 2px solid var(--cor-vermelho);
    background-color: var(--cor-amarelo);
    color: var(--cor-vermelho);
    border-radius: 0.7rem;
    padding: 0.3rem;
    font-size: 1.15rem;
    font-weight: 600;
}