@import url(styles/header.css);
@import url(styles/poscabecalho.css);
@import url(styles/beneficios.css);
@import url(styles/sobre.css);
@import url(styles/extras.css);
@import url(styles/planos.css);
@import url(styles/pagamentos.css);
@import url(styles/localizacao.css);
@import url(styles/redes.css);
@import url(styles/rodape.css);
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins&display=swap');

:root {
    --fonte-textos:'Alkatra', cursive;
    --cor-vermelho: #db0000;
    --cor-amarelo: #ffee00;
    --cor-fundo: #f5f4f4;
    --cor-bege: beige;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-textos);
}